{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Winter is comming</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione cupiditate corrupti consequuntur deserunt obcaecati nulla quidem voluptatum accusamus atque, laudantium excepturi numquam vitae ducimus ab, facilis illum dolores, adipisci laboriosam?</p>
    </div>

    <div class="col-4">
        <img src="assets/img/winter.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}